<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>You have received a new quote request from <%= "#{ @first_name }, #{ @last_name }." %></p>
    <p><%= @first_name %></p>
    <p><%= @last_name %></p>
    <p><%= @email %></p>
    <p><%= @phone %></p>
    <p><%= @pick_up_date %></p>
    <p><%= @origin_city %></p>
    <p><%= @origin_state %></p>
    <p><%= @origin_zip %></p>
    <p><%= @destination_city %></p>
    <p><%= @destination_state %></p>
    <p><%= @destination_zip %></p>
    <p><%= @year %></p>
    <p><%= @make %></p>
    <p><%= @model %></p>
    <p><%= @is_operable %></p>
    <p><%= @description %></p>
  </body>
</html>