<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>You have received a new tracking request from, <strong><%= "#{ @first_name } #{ @last_name }" %></strong></p>
    <br>
    <h3>Contact Information</h3>
    <p>First name: <strong><%= "#{@first_name}" %></strong></p>
    <p>Last Name: <strong><%= "#{@last_name}" %></strong></p>
    <p>Email: <strong><%= "#{@email}" %></strong></p>
    <p>Phone: <strong><%= "#{@phone}" %></strong></p>
    <p>Phone: <strong><%= "#{@order_number}" %></strong></p>
    <br>
    <h3>Delivery Information</h3>
    <p>Pick up date: <strong><%= "#{Date.parse(@pick_up_date).strftime("%B %e, %Y")}" %></strong></p>
    <p>Origin city: <strong><%= "#{@origin_city}" %></strong></p>
    <p>Origin state: <strong><%= "#{@origin_state}" %></strong></p>
    <p>Origin zip: <strong><%= "#{@origin_zip}" %></strong></p>
    <hr>
    <p>Destination city: <strong><%= "#{@destination_city}" %></strong></p>
    <p>Destination state: <strong><%= "#{@destination_state}" %></strong></p>
    <p>Destination zip: <strong><%= "#{@destination_zip}" %></strong></p>
    <br>
    <h3>Vehichle Information</h3>
    <p>Year: <strong><%= "#{@year}" %></strong></p>
    <p>Make: <strong><%= "#{@make}" %></strong></p>
    <p>Model: <strong><%= "#{@model}" %></strong></p>
  </body>
</html>