<%= simple_form_for(@order, validate: true, html: {class: "form-group"}) do |f| %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">CONTACT INFORMATION</h3>
      </div>
      <div class="panel-body">
        <%= f.input :todays_date, as: :hidden %>
        <%= f.input :date_first_available, validate: { presence: false, uniqueness: false }, as: :date_picker, readonly: true, label: false, placeholder: "Date first available (Required)" %>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-phone"></i></div>
            <%= f.input :phone, validate: { presence: false, uniqueness: false }, label: false, placeholder: "Phone number xxx-xxx-xxxx (Required)", input_html: {class: "form-control inputmask"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
            <%= f.input :email, label: false, placeholder: "Email address (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!------ PICK UP INFO ---->
<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">PICK-UP INFORMATION</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <%= f.input :origin_first_name, label: false, placeholder: "First name (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <%= f.input :origin_last_name, label: false, placeholder: "Last name (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-road"></i></div>
            <%= f.input :origin_street, label: false, placeholder: "Street address (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <%= f.input :origin_city, label: false, placeholder: "City (Required)", input_html: {class: "form-control"} %>
        <%= f.input :origin_state, label: false, :collection => ::States.sort.map {|k,v| [v,k]}, prompt: 'Select a state (Required)', input_html: {class: "form-control"} %>
        <%= f.input :origin_zip, label: false, placeholder: "Zip code (Required)", input_html: {class: "form-control"} %>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
            <%= f.input :origin_cell_phone, validate: { presence: false, uniqueness: false }, label: false, placeholder: "Primary phone xxx-xxx-xxxx (Required)", input_html: {class: "form-control inputmask"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!------DELIVERY UP INFO ---->
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">DESTINATION INFORMATION</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <%= f.input :destination_first_name, label: false, placeholder: "First name (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <%= f.input :destination_last_name, label: false, placeholder: "Last name (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-road"></i></div>
            <%= f.input :destination_street, label: false, placeholder: "Street address (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <%= f.input :destination_city, label: false, placeholder: "City (Required)", input_html: {class: "form-control"} %>
        <%= f.input :destination_state, label: false, :collection => ::States.sort.map {|k,v| [v,k]}, prompt: 'Select a state (Required)', input_html: {class: "form-control"} %>
        <%= f.input :destination_zip, label: false, placeholder: "Zip code (Required)", input_html: {class: "form-control"} %>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
            <%= f.input :destination_cell_phone, validate: { presence: false, uniqueness: false }, label: false, placeholder: "Primary phone xxx-xxx-xxxx (Required)", input_html: {class: "form-control inputmask"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!------VEHICHLE INFO ---->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">VEHICLE INFORMATION</h3>
      </div>
      <div class="panel-body">
        <%= f.input :year, label: false, collection: (Time.now.year + 3).downto(1900), prompt: 'Select year (Required)', :input_html => { :class => "form-control"} %>
        <%= f.input :make, label: false, placeholder: "Make (Required)", input_html: {class: "form-control"} %>
        <%= f.input :model, label: false, placeholder: "Model (Required)", input_html: {class: "form-control"} %>
        <p class="orderCheckbox"><strong>Does this vehicle run?</strong></p><%= f.collection_radio_buttons :is_operable, [[true, 'Yes'] ,[false, 'No']], :first, :last, :checked => true, required: true, :label => "Does it run", input_html: {class: "form-control"} %>
        <%= f.input :description, validate: { presence: false, uniqueness: false }, label: false, placeholder: "PLEASE USE THIS FIELD TO DESCRIBE ANY MODIFICATIONS OR PRE-EXISTING DAMAGE TO YOUR VEHICLE SO WE MAY PROPERLY ASSESS YOUR TRANSPORTATION COSTS SUCH AS WINCHING FEES OR LARGER HAULERS FOR THINGS SUCH AS OVERSIZED TIRES AND LIFTS", input_html: {class: "form-control", rows: "10"} %>
      </div>
    </div>
    <%= f.button :submit, "SUBMIT ORDER", class: "tn btn-primary btn-bigger btn-block" %>
    <br>
      <div>
        <%= recaptcha_tags %>
      </div>
  </div>
</div>
<% end %>
