<%= simple_form_for(@order, validate: true, html: {class: "form-group"}) do |f| %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">CONTACT INFORMATION</h3>
      </div>
      <div class="panel-body">
        <%= f.input :todays_date, as: :hidden %>
        <%= f.input :date_first_available, as: :date_picker, readonly: true, label: false, placeholder: "Date first available (Required)" %>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-hashtag"></i></div>
            <%= f.input :quote_number, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Quote number (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-usd"></i></div>
            <%= f.input :amount_quoted, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Amount quoted / numbers only (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-phone"></i></div>
            <%= f.input :phone, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Phone number xxx-xxx-xxxx (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
            <%= f.input :email, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Email address (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!------ PICK UP INFO ---->
<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">PICK-UP INFORMATION</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <%= f.input :origin_first_name, validate: { presence: true, uniqueness: false }, label: false, placeholder: "First name (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <%= f.input :origin_last_name, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Last name (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <%= f.input :origin_city, validate: { presence: true, uniqueness: false }, label: false, placeholder: "City (Required)", input_html: {class: "form-control"} %>
        <%= f.input :origin_state, validate: { presence: true, uniqueness: false }, label: false, :collection => ::States.sort.map {|k,v| [v,k]}, prompt: 'Select a state (Required)', input_html: {class: "form-control"} %>
        <%= f.input :origin_zip, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Zip code (Required)", input_html: {class: "form-control"} %>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-home"></i></div>
            <%= f.input :origin_home_phone, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Home phone xxx-xxx-xxxx (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-phone"></i></div>
            <%= f.input :origin_work_phone, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Work phone xxx-xxx-xxxx (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
            <%= f.input :origin_cell_phone, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Cell phone xxx-xxx-xxxx (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!------DELIVERY UP INFO ---->
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">DESTINATION INFORMATION</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <%= f.input :destination_first_name, validate: { presence: true, uniqueness: false }, label: false, placeholder: "First name (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <%= f.input :destination_last_name, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Last name (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <%= f.input :destination_city, validate: { presence: true, uniqueness: false }, label: false, placeholder: "City (Required)", input_html: {class: "form-control"} %>
        <%= f.input :destination_state, validate: { presence: true, uniqueness: false }, label: false, :collection => ::States.sort.map {|k,v| [v,k]}, prompt: 'Select a state (Required)', input_html: {class: "form-control"} %>
        <%= f.input :destination_zip, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Zip code (Required)", input_html: {class: "form-control"} %>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-home"></i></div>
            <%= f.input :destination_home_phone, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Home phone xxx-xxx-xxxx (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-phone"></i></div>
            <%= f.input :destination_work_phone, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Work phone xxx-xxx-xxxx (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
            <%= f.input :destination_cell_phone, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Cell phone xxx-xxx-xxxx (Required)", input_html: {class: "form-control"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!------VEHICHLE INFO ---->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">VEHICHLE INFORMATION</h3>
      </div>
      <div class="panel-body">
        <%= f.input :year, label: false, collection: Time.now.year.downto(1900), prompt: 'Select year (Required)', :input_html => { :class => "form-control"} %>
        <%= f.input :make, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Make (Required)", input_html: {class: "form-control"} %>
        <%= f.input :model, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Model (Required)", input_html: {class: "form-control"} %>
        <%= f.input :license_plate, validate: { presence: true, uniqueness: false }, label: false, placeholder: "License plate number (Required)", input_html: {class: "form-control"} %>
        <%= f.input :vin, validate: { presence: true, uniqueness: false }, label: false, placeholder: "VIN number (Required)", input_html: {class: "form-control"} %>
        <%= f.input :color, validate: { presence: true, uniqueness: false }, label: false, placeholder: "Color (Required)", input_html: {class: "form-control"} %>
        <p class="orderCheckbox"><strong>Does this vehicle run?</strong></p><%= f.collection_radio_buttons :is_operable, [[true, 'Yes'] ,[false, 'No']], :first, :last, :checked => true, required: true, :label => "Does it run", input_html: {class: "form-control"} %>
        <p class="orderCheckbox"><strong>Oversized?</strong></p><%= f.collection_radio_buttons :is_oversied, [[true, 'Yes'] ,[false, 'No']], :first, :last, :checked => true, required: true, :label => "Oversized?", input_html: {class: "form-control"} %>
        <p class="orderPayment">A $200.00 deposit is required to submit your booking online. You will also give your authorization to submit payment for services to help with the arrangement of transportation for the above stated vehicle(s). Choose a payment method below but please call to make payment. We accept Visa, Mastercard, Discover, American Express, PayPal and checks.</p>
        <%= f.input :payment, validate: { presence: true, uniqueness: false }, label: false, :collection => ::Payments.sort.map {|k,v| [v,k]}, prompt: 'Select payment type (Required)', input_html: {class: "form-control"} %>
        <%= f.input :description, label: false, placeholder: "Please use this field to describe any special instructions that might avoid a delay in delivery.", input_html: {class: "form-control", rows: "10"} %>
      </div>
    </div>
    <%= f.button :submit, "SUBMIT ORDER", class: "tn btn-primary btn-bigger btn-block" %>
    <br>
      <div>
        <%= recaptcha_tags %>
      </div>
  </div>
</div>
<% end %>
