<p id="notice"><%= notice %></p>

<p>
  <strong>Todays date:</strong>
  <%= @order.todays_date %>
</p>

<p>
  <strong>Date first available:</strong>
  <%= @order.date_first_available %>
</p>

<p>
  <strong>Quote number:</strong>
  <%= @order.quote_number %>
</p>

<p>
  <strong>Amount quoted:</strong>
  <%= @order.amount_quoted %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Origin first name:</strong>
  <%= @order.origin_first_name %>
</p>

<p>
  <strong>Origin last name:</strong>
  <%= @order.origin_last_name %>
</p>

<p>
  <strong>Origin city:</strong>
  <%= @order.origin_city %>
</p>

<p>
  <strong>Origin state:</strong>
  <%= @order.origin_state %>
</p>

<p>
  <strong>Origin zip:</strong>
  <%= @order.origin_zip %>
</p>

<p>
  <strong>Origin home phone:</strong>
  <%= @order.origin_home_phone %>
</p>

<p>
  <strong>Origin work phone:</strong>
  <%= @order.origin_work_phone %>
</p>

<p>
  <strong>Origin cell phone:</strong>
  <%= @order.origin_cell_phone %>
</p>

<p>
  <strong>Destination first name:</strong>
  <%= @order.destination_first_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @order.string %>
</p>

<p>
  <strong>Destination last name:</strong>
  <%= @order.destination_last_name %>
</p>

<p>
  <strong>Destination city:</strong>
  <%= @order.destination_city %>
</p>

<p>
  <strong>Destination state:</strong>
  <%= @order.destination_state %>
</p>

<p>
  <strong>Destination zip:</strong>
  <%= @order.destination_zip %>
</p>

<p>
  <strong>Destination home phone:</strong>
  <%= @order.destination_home_phone %>
</p>

<p>
  <strong>Destination work phone:</strong>
  <%= @order.destination_work_phone %>
</p>

<p>
  <strong>Destination cell phone:</strong>
  <%= @order.destination_cell_phone %>
</p>

<p>
  <strong>Year:</strong>
  <%= @order.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @order.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @order.model %>
</p>

<p>
  <strong>License plate:</strong>
  <%= @order.license_plate %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @order.vin %>
</p>

<p>
  <strong>Color:</strong>
  <%= @order.color %>
</p>

<p>
  <strong>Is operable:</strong>
  <%= @order.is_operable %>
</p>

<p>
  <strong>Is oversied:</strong>
  <%= @order.is_oversied %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @order.payment %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
