

      
      <!-- Intro Block
      ============================================ -->
      <div class="intro-block intro-slider-block light-bg">
      
        <!-- Container -->
        <div class="container cont-main">
        
          <!-- Row -->
          <div class="row">
          
            <!-- Col -->
            <div class="col-xs-12 col-sm-9 col-md-9">
            
              <!-- Intro Slider Wrapper -->
              <div class="intro-slider">
              
                <!-- BxSlider -->
                <div class="bxslider" data-call="bxslider" data-options="{controls:false, pagerCustom: '#intro-pager'}">
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">If it has wheels, we will ship it!</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">To get started with your vehicle transport, please fill out the quote form. If at any time you have questions or run into trouble please call our Sales office, toll free, at <strong>208-350-8590</strong>.</p>
                      <%= link_to "get a free quote", new_quote_path, class: "btn btn-primary no-border btn-bigger bx-layer", :data => { :anim => 'slideInUp', :dur => '1000', :delay => '600' }  %>
                    </div>
                    <!-- /Text -->
                    <%= link_to (image_tag ("gtauto/quick_quite.png"), class: "img-main-quote"), new_quote_path %>
                  </div>
                  <!-- /Slide -->
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">start an order</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">To get started with your vehicle transport, please click the button below and fill out the form. If at any time you have any questions or run into any trouble please call our Sales office, toll free, at <strong>1-208-350-8590</strong>.</p>
                      <%= link_to "start an order", new_order_path, class: "btn btn-primary no-border btn-bigger bx-layer", :data => { :anim => 'slideInUp', :dur => '1000', :delay => '600' }  %>
                    </div>
                    <!-- /Text -->
                    <%= image_tag ("gtauto/f150.png"), class: "img-main" %>
                  </div>
                  <!-- /Slide -->
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">track shipment</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">To get the status of your order we ask that you either click the button and fill out a tracking form, e-mail status@gtautotransport.com directly or call <strong>208-350-8590</strong>.</p>
                      <%= link_to "track shipment", new_order_path, class: "btn btn-primary no-border btn-bigger bx-layer", :data => { :anim => 'slideInUp', :dur => '1000', :delay => '600' }  %>
                    </div>
                    <!-- /Text -->
                    <%= image_tag ("gtauto/harley.png"), class: "img-main" %>
                  </div>
                  <!-- /Slide -->
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">contact us</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">Click the button to be taken to our contact page.</p>
                      <%= link_to "contact us", contacts_path, class: "btn btn-primary no-border btn-bigger bx-layer", :data => { :anim => 'slideInUp', :dur => '1000', :delay => '600' }  %>
                    </div>
                    <!-- /Text -->
                    <%= image_tag ("gtauto/boat.png"), class: "img-main" %>
                  </div>
                  <!-- /Slide -->
                  
                </div>
                <!-- /BxSlider -->
                
              </div>
              <!-- Intro Slider -->
              
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="hidden-xs col-sm-2 col-md-3">
              <div class="pager-block vcenter">
                <div class="vcenter-this">
                  <!-- Pager -->
                  <div id="intro-pager" class="tab-pager">
                    <a data-slide-index="0" href="#"><i class="icon fa fa-arrow-right"></i><span>Free Quote</span></a>
                    <a data-slide-index="1" href="#"><i class="icon fa fa-arrow-right"></i><span>place an order</span></a>
                    <a data-slide-index="2" href="#"><i class="icon fa fa-arrow-right"></i><span>track shipment</span></a>
                    <a data-slide-index="3" href="#"><i class="icon fa fa-arrow-right"></i><span>contact us</span></a>
                  </div>
                  <!-- /Pager -->
                </div>
              </div>
            </div>
            <!-- /Col -->
            
          </div>
          <!-- /Row -->
        </div>
        <!-- /Container -->
      
      </div>
      <!-- /Intro Block
      ============================================ -->

      <!-- Content Block
      ============================================ -->
      <section class="content-block default-bg">
      
        <!-- Container -->
        <div class="container cont-main">

          
          <!-- Section Title -->
          <div class="section-title">
            <div class="jumbotron">
              <h1>Door-to-Door Service</h1>
              <h1>Open and Enclosed Transport</h1>
              <h1>Competitive Rates</h1>
            </div>
            
            <p><strong>GT Auto Transport, LLC</strong> offers the highest standard of carriers that are honest, reliable, licensed and insured! Whether you're a dealer or individual, we work to provide you with the most satisfying auto transportation services. Whether it's across the state or coast to coast; GT Auto Transport, LLC will deliver a higher caliber of 
                customer service that exceeds our competitor's standards. We are a christian faith based and family owned business. We 
                operate in every state (including Alaska & Hawaii) except Washington, D.C. We have been in business for over 10 years, so we 
                are firmly planted in this industry! Many transport companies have automated phone lines to field their calls but we pride 
                ourselves on answering our customer calls personally so you get a human every time! We even offer a free text messaging
                service, 24 hours a day/7 days a week, when speaking on the phone is not an option. Here at GT Auto Transport, LLC we 
                completely understand that price is always a major factor so we strive to provide top notch service for the best price 
                available. We offer many various discounts including senior citizen, military, multi-car/vehichle, student and return 
                customer. Feel free to use the (<strong><%= link_to "QUICK QUOTE", new_quote_path %></strong>) link to contact us for a free and fast quote. </p>
          </div>
          <!-- /Section Title -->
          <br />
          <br />
          
          <!-- Content Block
      ============================================ -->
      <section class="content-block light-bg">
      

          <!-- Row -->
          <div class="row bulletPoints">
          
            <!-- Col -->
            <div class="col-sm-10 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-check-box" ></i>
                <a class="title">BEEN IN BUSINESS FOR OVER 10 YEARS</a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-sm-10 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-check-box"></i>
                <a class="title">MILITARY, STUDENT, RETURN CUSTOMER, MULTI-CAR & SENIOR CITIZEN DISCOUNT OFFERED</a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-sm-10 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-check-box"></i>
                <a class="title">WE OFFER $25 REFER-A-PAL BONUSES</a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
          
          </div>
          <!-- /Row -->

      </section>
      <!-- /Content Block
      ============================================-->
      <br>
      <br>
        
          <!-- Section Title -->
          <div class="section-title">
            <h2>what our customers are saying</h2>
          </div>
          <!-- Section Title -->
          
          <!-- Row -->
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="hquote">
                <blockquote>
                  <p><%= image_tag ("gtauto/review_logo.jpg"), class: "avatar" %><strong>Third time and still charmed - </strong>I was introduced to Amy at GT Auto Transport when I purchased a classic Mustang that needed to be transported. This is now the third car in 4 weeks they've moved for me, and I'm very happy all around!</p>
                  <small class="author-bottom"><%= link_to "Chach DalSanto", "http://www.transportreviews.com/Company/GT-Auto-Transport-LLC/Reviews/286601/", :target => "_blank" %></small>
                </blockquote>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="hquote hquote-right">
                <blockquote>
                  <p><%= image_tag ("gtauto/review_logo.jpg"), class: "avatar" %><strong>Great service - </strong>Everything you want in car transport. Friendly, courteous, on time, clean, etc. The driver kept me informed on his pickup schedule and followed all instructions for delivery. He contacted the receiving person and delivered it as promised.</p>
                  <small class="author-bottom"><%= link_to "Rob", "http://www.transportreviews.com/Company/GT-Auto-Transport-LLC/Reviews/282374/", :target => "_blank" %></small>
                </blockquote>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="hquote">
                <blockquote>
                  <p><%= image_tag ("gtauto/review_logo.jpg"), class: "avatar" %><strong>THANK YOU GT AUTO TRANSPORT!!!! - </strong>Amy with GT Auto Transport was extremely helpful and prompt with getting my vehicle transported from Portland, OR to Houston, TX. I would HIGHLY recommend them to anyone in need of transporting. Thanks again Amy!!!!</p>
                  <small class="author-bottom"><%= link_to "Tony B", "http://www.transportreviews.com/Company/GT-Auto-Transport-LLC/Reviews/281625/", :target => "_blank" %></small>
                </blockquote>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="hquote hquote-right">
                <blockquote>
                  <p><%= image_tag ("gtauto/review_logo.jpg"), class: "avatar" %><strong>BEST SERVICE! - </strong>Amy is GREAT to deal with, very knowledgeable, and keeps constant contact. I highly recommend GT TRANSPORT!!!</p>
                  <small class="author-bottom"><%= link_to "Caleb", "http://www.transportreviews.com/Company/GT-Auto-Transport-LLC/Reviews/276132/", :target => "_blank" %></small>
                </blockquote>
              </div>
            </div>
          </div>
          <!-- /Row -->
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="hquote">
                <blockquote>
                  <p><%= image_tag ("gtauto/review_logo.jpg"), class: "avatar" %><strong>Excellent, Honest, Affordable - </strong>After regretfully filling out a vehicle shipping quote online, which resulted in over 50 emails from various companies, most of which were out of Florida, I found Derek and Amy. We were surprising my mother with a new car for Christmas... <%= link_to "read more", "http://www.transportreviews.com/Company/GT-Auto-Transport-LLC/Reviews/275925/", :target => "_blank" %> </p>
                  <small class="author-bottom"><%= link_to "Erik Cloud", "http://www.transportreviews.com/Company/GT-Auto-Transport-LLC/Reviews/275925/", :target => "_blank" %></small>
                </blockquote>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="hquote hquote-right">
                <blockquote>
                  <p><%= image_tag ("gtauto/review_logo.jpg"), class: "avatar" %><strong>Great Job-Prompt And Reliable - </strong>GT Auto Transport has been great. We are in Southern California and often need to dealer trade for cars in Northern California, Seattle and Oregon… Even when we need cars on the East Coast, and or across the United States, Amy... <%= link_to "read more", "http://www.transportreviews.com/Company/GT-Auto-Transport-LLC/Reviews/274578/", :target => "_blank" %> </p>
                  <small class="author-bottom"><%= link_to "Johnny M", "http://www.transportreviews.com/Company/GT-Auto-Transport-LLC/Reviews/274578/", :target => "_blank" %></small>
                </blockquote>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2 col-md-offset-2 col-sm-6">
              <%= image_tag ("gtauto/bbb_logo.png"), class: "img-responsive " %>
            </div>
            <div class="col-md-2 col-sm-6">
              <%= image_tag ("gtauto/transport_logo.png"), class: "img-responsive " %>
              <p class="transportText">5 Stars Since 2006</p>
            </div>
            <div class="col-md-2 col-sm-6">
              <%= image_tag ("gtauto/fmcsa.png"), class: "img-responsive " %>
            </div>
            <div class="col-md-2 col-sm-6">
              <%= image_tag ("gtauto/dot_logo.jpg"), class: "img-responsive" %>
            </div>
          </div>
        
        </div>
        <!-- /Container -->
      </section>
      <!-- /Content Block
      ============================================-->
      

