<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>You have received a new order from, <strong><%= "#{ @origin_first_name } #{ @origin_last_name }" %></strong></p>
    <br>
    <h3>Contact Information</h3>
    <p>Today's Date: <strong><%= "#{Date.parse(@todays_date).strftime("%B %e, %Y")}" %></strong></p>
    <p>Date first available: <strong><%= "#{Date.parse(@date_first_available).strftime("%B %e, %Y")}" %></strong></p>
    <p>Email: <strong><%= "#{@email}" %></strong></p>
    <p>Phone: <strong><%= "#{@phone}" %></strong></p>
    <br>
    <h3>Pick-up Information</h3>
    <p>Origin First Name: <strong><%= "#{@origin_first_name}" %></strong></p>
    <p>Origin Last Name: <strong><%= "#{@origin_last_name}" %></strong></p>
    <p>Origin Street: <strong><%= "#{@origin_street}" %></strong></p>
    <p>Origin City: <strong><%= "#{@origin_city}" %></strong></p>
    <p>Origin State: <strong><%= "#{@origin_state}" %></strong></p>
    <p>Origin Zip: <strong><%= "#{@origin_zip}" %></strong></p>
    <p>Origin Primary Phone: <strong><%= "#{@origin_cell_phone}" %></strong></p>
    <br>
    <h3>Destination Information</h3>
    <p>Destination First Name: <strong><%= "#{@destination_first_name}" %></strong></p>
    <p>Destination Last Name: <strong><%= "#{@destination_last_name}" %></strong></p>
    <p>Origin Street: <strong><%= "#{@destination_street}" %></strong></p>
    <p>Destination City: <strong><%= "#{@destination_city}" %></strong></p>
    <p>Destination State: <strong><%= "#{@destination_state}" %></strong></p>
    <p>Destination Zip: <strong><%= "#{@destination_zip}" %></strong></p>
    <p>Destination Primary Phone: <strong><%= "#{@destination_cell_phone}" %></strong></p>
    <br>
    <h3>Vehichle Information</h3>
    <p>Year: <strong><%= "#{@year}" %></strong></p>
    <p>Make: <strong><%= "#{@make}" %></strong></p>
    <p>Model: <strong><%= "#{@model}" %></strong></p>
    <% if @is_operable == "true" %>
      <p>Is car operable? <strong>Yes</strong></p>
    <% else %>
      <p>Is car operable? <strong>No</strong></p>
    <% end %>
    <p>Extra information: <%= "#{@description}" %></p>
  </body>
</html>