<!-- Footer
=================================================== -->
<footer class="footer-block">

  <!-- Container -->
  <div class="container main clearfix">
  
    <!-- Brand -->
    <div class="brand-col">
      <div class="brand">
        <img src="assets/logo-footer.png" alt="logo"/>
      </div>
    </div>
    <!-- /Brand -->
    
    <!-- Links -->
    <div class="links-col">
      <!-- Row -->
      <div class="row-fluid">
        <!-- Col -->
        <div class="col-xs-6 col-sm-3 col-md-3">
          <h5>information</h5>
          <ul class="v-links">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About Us", about_path %></li>
            <li><%= link_to "Free Quote", new_quote_path %></li>
            <li><%= link_to "Terms and Agreement", terms_and_conditions_path %></li>
          </ul>
        </div>
        <!-- Col -->
        
        
        
     </div>
     <!-- /Row -->
    </div>
    <!-- /Links -->

  </div>
  <!-- /Container ->
  
  <!-- Bottom -->
  <div class="bottom">
    <!-- Container -->
    <div class="container">
      <span class="copy-text">&copy; 2016 GT Auto Transport</span>
      <ul class="payment-methods clearfix">
        <li><%= image_tag "/assets/cards/visa.png" %></li>
        <li><%= image_tag "/assets/cards/paypal.png" %></li>
        <li><%= image_tag "/assets/cards/mastercard.png" %></li>
        <li><%= image_tag "/assets/cards/express.png" %></li>
      </ul>
    </div>
    <!-- /Container -->
  </div>
  <!-- /Bottom -->
  
  
</footer>
<!-- /Footer
=================================================== -->

</div>
<!-- /Page Wrapper
++++++++++++++++++++++++++++++++++++++++++++++ -->

<script src="assets/min/uikit.min.js"></script>

