<div class="page-preloader" id="clearLoader">
  <div class="vcenter"> <div class="vcenter-this"><%= image_tag ('loader.gif') %></div></div>
</div>

<!-- Page Wrapper
++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="page-wrapper">
  
<!-- Nav Block 
============================================ -->
<section class="nav-block">

  <!-- Nav Top
  .......................................... -->
  <nav class="nav-top navbar hnav hnav-sm invert-colors bcolor-bg" role="navigation">
  
    <!-- Container 
    .......................................... -->
    <div class="container">

      <!-- Navbar Collapse-->
      <div class="navbar-dont-collapse">
      
        <!-- Navbar Left -->
        <ul class="nav navbar-nav navbar-left">
          <li><a href="mailto:sales@gtautotransport.com"><i class="icon-left fa fa-comments"></i>Call or text us at 208-350-8590</a></li>
        </ul>
        <!-- /Navbar Left -->
        
        <!-- Navbar Right -->
        <ul class="nav navbar-nav navbar-right">
          <% if !mobile? %>
            <li class="titleBar" id="google_translate_element"></li>
          <% end %>
          <li class="titleBar">Se Habla Espanol!</li>
        </ul>
        <!-- /Navbar right -->
        
      </div>
      <!-- /Navbar Collapse -->
      
    </div>
    <!-- /Container
    .......................................... -->
    
  </nav>
  <!-- Nav Top
  .......................................... -->

  <!-- Nav Main 
  .......................................... -->
  <nav class="nav-main navbar hnav" role="navigation">
  
    <!-- Container 
    .......................................... -->
    <div class="container">
    
      <!-- Header-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="ti ti-menu"></i>
        </button>
        <a class="navbar-brand" href="index.html">
          <%= image_tag ("gtauto/gtat_blue.png"), class: "hidden-xs" %> <!-- Default Logo -->
          <%= image_tag ("gtauto/gtat_blue.png"), class: "visible-xs" %> <!-- Mobile Logo -->
        </a>
      </div>
      <% if mobile? %>
        <div class="visible-xs translation" id="google_translate_element"></div>
      <% end %>
      <!-- /Header-->
      
      <!-- Nav Buttons -->
      <div class="nav-buttons navbar-right">
        <!-- /Navbar right -->
        </div>
      <!-- Nav Buttons -->
      
      <!-- Navbar Collapse-->
      <div class="collapse navbar-collapse">
      
        <!-- Navbar Right -->
        <ul class="nav navbar-nav navbar-right case-u">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "home", root_path %></li>
          <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "about us", about_path %></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quote | Order | Track <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="<%= 'active' if current_page?(new_quote_path) %>"><%= link_to "free quote", new_quote_path %></li>
            <li class="<%= 'active' if current_page?(new_order_path) %>"><%= link_to "place order", new_order_path %></li>
            <li class="<%= 'active' if current_page?(new_tracking_path) %>"><%= link_to "track order", new_tracking_path %></li>
          </ul>
        </li>
          <li class="<%= 'active' if current_page?(faqs_path) %>"><%= link_to "faqs", faqs_path %></li>
          <li class="<%= 'active' if current_page?(terms_and_conditions_path) %>"><%= link_to "terms and conditions", terms_and_conditions_path %></li>
          <li class="<%= 'active' if current_page?(contacts_path) %>"><%= link_to "contact us", contacts_path %></li>
        </ul>
        <!-- /Navbar right -->
      </div>
      <!-- /Navbar Collapse -->
    </div>
    <!-- /Container
    .......................................... -->
    
  </nav>
  <!-- Nav Main 
  .......................................... -->
  
</section>
<!-- /Nav Block
============================================ -->