<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div class="page-bg preload">
    <div class="page-preloader">
      <div class="vcenter"> <div class="vcenter-this"><img class="anim" src="images/loader.gif" alt="loading..." /></div></div>
    </div>
  
  <%= render "layouts/header" %>
  
  <%= yield %>
  
  <%= render "layouts/footer" %>
</div>

</body>
</html>
